@keyframes slide {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

header, footer, .drum {
  font-family: helvetica;
}

header, footer {
  font-size: 100px;
  color: #ec6763;
}

.drum {
  font-size: 40px;
}

@media screen and (max-width: 631px) {
  #drums-container {
    padding: 0 5px;
  }
  .drum {
    border-radius: 50%;
    margin: 3px 0px;
  }
  .top .drum {
    height: 25%;
    width: 25%;
  }
}

@media screen and (min-width: 631px) {
  .drum {
    border-radius: 50%;
    margin: 5px;
  }
}

@media screen and (max-height: 768px) {
  header, footer {
    font-size: 75px;
  }
  .line {
    height: 15px;
  }
  #drumkit-header-container {
    margin: 5px 5px -25px 10px;
  }
  #drumk-container {
    margin-bottom: -20px;
  }
  .drum {
    height: 100px;
    width: 100px;
    line-height: 100px;
  }
  footer p {
    margin-top: 10px;
  }
}

@media screen and (min-height: 769px) {
  .line {
    height: 20px;
  }
  #drumkit-header-container {
    margin: 10px 10px 25px 15px;
  }
  .drum {
    height: 140px;
    width: 140px;
    line-height: 140px;
  }
}

body {
  background: #aec7d3;
  margin: 0px;
}

header {
  color: #ec6763;
  font-family: helvetica;
}

#drumkit-header-container {
  display: flex;
  height: 195px;
  flex-direction: column;
}

#drumkit-header-container #drumk-container {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

#lines-it-container {
  align-items: center;
  display: flex;
  height: 100px;
  width: 100%;
}

#lines-it-container #it-header {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 90px;
  margin-top: 8px;
  width: 100px;
}

#lines-it-container #lines-container {
  width: 100%;
}

#lines-it-container .line {
  animation: slide 1s ease-in forwards;
  background-color: #696c91;
  margin-bottom: 10px;
  opacity: 0.5;
  transition: 0.3s;
}

#lines-it-container .line:nth-child(2) {
  background-color: #3c7a70;
}

#lines-it-container .line:nth-child(3) {
  background-color: #dbdb98;
  margin-bottom: 0px;
  margin-top: 10px;
}

#lines-it-container .line-transition {
  opacity: 1;
  transform: scale(2);
}

#drums-container {
  background-color: rgba(236, 105, 101, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#drums-container .drums-position-container {
  display: flex;
  justify-content: center;
}

#drums-container .drum {
  background-color: #3c7a70;
  opacity: 0.7;
  text-align: center;
  transition: transform 0.1s ease-in;
  z-index: 1;
}

#drums-container .cymb {
  background-color: #dbdb98;
}

#drums-container .snare-kick {
  background-color: #696c91;
}

#drums-container .play {
  transform: scale(1.5);
  opacity: 1;
}

#drums-container .cymb-animation {
  transform: rotateX(360deg);
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

footer p {
  opacity: 1;
  transition: 0.5s;
}

.drumType {
  opacity: 0;
  transform: translateY(-300px);
}
