body {
  background: #aec7d3;
}

header, footer, .drum {
  font-family: 'Quicksand', helvetica, sans-serif;
  font-size: 90px;
}

header {
  transition: font-size 0.5s ease-in-out;
}

@media screen and (max-height: 768px) {
  header {
    font-size: 70px;
  }
}

@media screen and (max-width: 631px) {
  header {
    font-size: 70px;
  }
}

header, footer {
  color: #ec6763;
}

@media screen and (max-height: 768px) {
  footer {
    font-size: 7vw;
  }
}

@media screen and (max-width: 631px) {
  footer {
    font-size: 9vw;
  }
}

.drum {
  font-size: 40px;
  background-color: #3c7a70;
}

.cymb {
  background-color: #dbdb98;
}

.snare-kick {
  background-color: #696c91;
}

.line {
  background-color: #696c91;
}

.line:nth-child(2) {
  background-color: #3c7a70;
}

.line:nth-child(3) {
  background-color: #dbdb98;
}

#drums-container {
  background-color: rgba(236, 105, 101, 0.6);
}

body {
  margin: 0px;
}

#drumkit-header-container {
  display: flex;
  height: 195px;
  flex-direction: column;
}

@media screen and (max-height: 768px) {
  #drumkit-header-container {
    margin: 5px 5px -25px 10px;
  }
}

@media screen and (min-height: 769px) {
  #drumkit-header-container {
    margin: 10px 10px 25px 15px;
  }
}

#drumkit-header-container #drumk-container {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: -15px;
}

@media screen and (max-height: 768px) {
  #drumkit-header-container #drumk-container {
    margin-bottom: -20px;
  }
}

#lines-it-container {
  align-items: center;
  display: flex;
  height: 100px;
  width: 100%;
}

#lines-it-container #it-header {
  transform: rotate(90deg);
  margin-top: 8px;
  width: 100px;
}

#lines-it-container #lines-container {
  width: 100%;
}

#lines-it-container .line {
  margin-bottom: 10px;
  opacity: 0.5;
  transition: opacity 0.3s, transform 0.3s;
}

#lines-it-container .line:nth-child(3) {
  margin-bottom: 0px;
  margin-top: 10px;
}

@media screen and (max-height: 768px) {
  #lines-it-container .line {
    height: 15px;
  }
}

@media screen and (min-height: 769px) {
  #lines-it-container .line {
    height: 20px;
  }
}

#lines-it-container .line-transition {
  opacity: 1;
  transform: scale(2);
}

#drums-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

@media screen and (max-width: 631px) {
  #drums-container {
    padding: 3px 0px;
  }
}

#drums-container .drums-position-container {
  display: flex;
  justify-content: center;
}

#drums-container .drum {
  border-radius: 50%;
  height: 140px;
  line-height: 140px;
  margin: 5px;
  opacity: 0.7;
  text-align: center;
  transition: transform 0.1s ease-in, height 0.5s ease-in-out, width 0.5s ease-in-out, line-height 0.5s ease-in-out;
  width: 140px;
}

@media screen and (max-width: 631px) {
  #drums-container .drum {
    border-radius: 50%;
    height: 90px;
    line-height: 90px;
    margin: 3px 0px;
    width: 90px;
  }
}

#drums-container .play {
  transform: scale(1.5);
  opacity: 1;
}

#drums-container .cymb-animation {
  transform: rotateX(360deg);
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

footer p {
  opacity: 1;
  margin-top: 10px;
  transition: opacity .5s;
}

footer .drumType {
  opacity: 0;
}
