@import 'animations';
@import 'base';
@import 'colors';
@import 'media-queries';
@import 'mixins';

body {
  background: $blue;
  margin: 0px;
}

header {
  color: $pink;
  font-family: helvetica;

  @include skinny {
    font-size: 70px;
  }
}

#drumkit-header-container {
  display: flex;
  height: 195px;
  flex-direction: column;
  #drumk-container {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }
}

#lines-it-container {
  align-items: center;
  display: flex;
  height: 100px;
  width: 100%;

  #it-header {
    -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
  //  font-size: 90px;
   margin-top: 8px;
   width: 100px;

  //  @include skinny {
  //    font-size: 70px
  //  }
  }

  #lines-container {
    width: 100%;
  }
  .line {
    animation: slide 1s ease-in forwards;
    background-color: $purple;
    margin-bottom: 10px;
    opacity: 0.5;
    transition: 0.3s;

    &:nth-child(2) {
      background-color: $green;
    }
    &:nth-child(3) {
      background-color: $yellow;
      margin-bottom: 0px;
      margin-top: 10px;
    }
  }
  .line-transition {
    opacity: 1;
    transform: scale(2);
  }
}

#drums-container {
  background-color: $lightPink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;

  @include skinny {
    padding: 0 5px;
  }

  .drums-position-container {
    display: flex;
    justify-content: center;
  }

  .drum {
    // border: 5px solid black;
    // border-radius: 50%;
    background-color: $green;
    // margin: 10px;
    opacity: 0.7;
    text-align: center;
    transition: transform 0.1s ease-in, height 0.5s ease-in-out, width 0.5s ease-in-out, line-height 0.5s ease-in-out;
    z-index: 1;

    @include skinny {
      border-radius: 50%;
      height: 100px;
      line-height: 100px;
      margin: 3px 0px;
      width: 100px;
    }
  }
  .cymb {
    background-color: $yellow;
  }
  .snare-kick {
    background-color: $purple;
  }

  .play {
    transform: scale(1.5);
    opacity: 1;
  }

  .cymb-animation {
    transform: rotateX(360deg)
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include skinny {
    font-size: 9vw;
  }

  p {
    opacity: 1;
    transition: all 1s ease-in-out;
  }
}

.drumType {
  opacity: 0;
}
