@import 'colors';

header, footer, .drum {
  font-family: helvetica;
}

header {
  transition: font-size 0.5s ease-in-out;
}

header, footer {
  // font-size: 100px;
  color: $pink;
}

.drum {
  font-size: 40px;
}
