$blue: #aec7d3;
$green: #3c7a70;
$pink: #ec6763;
$purple: #696c91;
$yellow: #dbdb98;
$lightPink: hsla(2, 78%, 66%, 0.6);

header, footer, .drum {
  font-family: 'Quicksand', helvetica, sans-serif;
}

header {
  transition: font-size 0.5s ease-in-out;
}

header, footer {
  color: $pink;
}

.drum {
  font-size: 40px;
}
