//variables
$skinny-width: 631px;
$short-height: 768px;
$normal-height: 769px;


// media queries
@mixin skinnyTall {
  @media screen and (max-width: $skinny-width) {
    @content;
  }
}

@mixin skinnyShort {
  @media screen and (max-width: $skinny-width) and (max-height: $short-height){
    @content;
  }
}

@mixin normalHeight {
  @media screen and (min-height: $normal-height) {
    @content;
  }
}

@mixin shortHeight {
  @media screen and (max-height: 768px) {
    @content;
  }
}
